:root {
  --starSize: 50px;
}

body {
  /* height: 90vh; */
  /* width: 90vw; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  width: 95vw;
  height: 95vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-play {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 35%;
  /* min-height: 80vh; */
  /* height: 85%; */
  /* height: 75vh; */
  aspect-ratio: 1;
  /* width: 900px; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0px 0px;
  border-style: solid;
  
  position: relative;
}

.grid::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.grid div {
  aspect-ratio: 1;
  /* position: absolute; */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
  border-radius: 50%;
}

.score {
  font-size: 2rem;
}

.start {
  z-index: 10;
  min-width: 50%;
  width: auto;
  padding: 1rem 0;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: all 250ms ease;
  border: black 2px solid;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.start:hover {
  background-color: black;
  color: white;
  border: white 2px solid;
}

@media (max-width: 1700px) {
  .grid {
    width: 45%;

  }

}

@media (max-width: 1300px) {
  .grid {
    width: 55%;

  }

}
@media (max-width: 1000px) {
  .grid {
    width: 65%;

  }

}
@media (max-width: 700px) {
  .grid {
    width: 85%;

  }

}
